@charset "utf-8";
/* CSS Document */

body {
 margin: 0;}



header {text-align: center}



header img {  
	height: 35%;
	width: 35%;
}

.banner {border-top: #FDDA69 solid 2px;
    background-color:rgba(243,233,196,1.00);
    height: 40px;
    margin-top: 10px}


h5 {
color: #409191;
margin-top: 10px}



main {max-width: 50%;
	margin-left: auto;
margin-right: auto} 


main h1 {text-align: center}